@using System.Globalization
@using System.Threading.Tasks
@using Sakura.AspNetCore.Authentication
@inject ExternalSignInManager ExternalSignInManager

@model Medal
@{
	ViewBag.PageTitle = string.Format(CultureInfo.CurrentUICulture, "{0} - 勋章详情", Model.Name);
}

@if (!string.IsNullOrEmpty(Model.Link))
{
	<a class="btn btn-default btn-primary" href="@Model.Link">访问该勋章关联的网页</a>
}

@if (!string.IsNullOrEmpty(Model.Description))
{
	<p>@Model.Description</p>
}
else
{
	<p class="text-muted text-center">该勋章没有提供描述</p>
}

<hr />


@if (ExternalSignInManager.IsSignedIn(User))
{

	if (Model.CanApply)
	{
		<button type="button" class="btn btn-info">申请勋章</button>
	}

	if (Model.PriceSettings.Length > 0)
	{
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				购买勋章 <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">

				@for (var index = 0; index < Model.PriceSettings.Length; index++)
				{
					var item = Model.PriceSettings[index];

					var displayText =
						item.ExpiryDate == null
							? string.Format(CultureInfo.CurrentUICulture, "永久有效，价格 {0}", item.Price)
							: string.Format(CultureInfo.CurrentUICulture, "{0} 天有效，价格 {1}", item.ExpiryDate.Value, item.Price);

					<li>
						<a href="#" onclick="showOrderDialog(this);" data-type="@index" data-name="@Model.Name" data-price="@item.Price" data-days="@item.ExpiryDate">@displayText</a>
					</li>
				}
			</ul>
		</div>
	}

	if (!Model.CanApply && Model.PriceSettings.Length == 0)
	{
		<p class="text-center text-muted">这个勋章只能由管理员颁发。如果你希望获得它，请联系管理员。</p>
	}

	<form asp-controller="Medal" asp-action="Order" asp-route-id="@Model.Id" method="post" asp-antiforgery="true" data-ajax="true" data-ajax-success="" data-ajax-failure="onAjaxError(this, xhr);">

		<input type="hidden" name="type" id="order-type-input" />

		<div class="modal fade" id="order-medal-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">购买勋章</h4>
					</div>
					<div class="modal-body">
						<p>
							你即将购买勋章 <strong id="order-medal-name-text"></strong>。本次购买需要花费 <strong id="order-medal-price-text"></strong> 财富值，有效期为 <strong id="order-medal-days-text"></strong>。
						</p>
						<p class="text-info">购买勋章后，你将立即获得该勋章并扣除对应的财富值。如果你之前已经购买了该勋章，则本次购买有效期将和勋章的现有剩余有效天数叠加。如果你已经申请了该勋章且本次购买为永久有效，则申请将自动撤销。</p>
						<p>
							如果你确定要执行购买操作，请单击<q>确认购买</q>按钮。否则请单击<q>关闭</q>或对话框外的任意位置。
						</p>
					</div>
					<div class="modal-footer">
						<p class="dialog-error text-danger"></p>
						<button type="submit" class="btn btn-primary">确认购买</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>
}
else
{
	<p class="text-muted text-center">如果你想要申请或者购买这个勋章，请先<a asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Url.Action()">登录</a>后再访问这里</p>
}

@section scripts{

	<script type="text/javascript" language="javascript">

		function showOrderDialog(btn) {

			$('#order-medal-name-text').text($(btn).data('name'));
			$('#order-medal-price-text').text($(btn).data('price'));
			$('#order-medal-days-text').text($(btn).data('days'));

			$('#order-type-input').val($(btn).data('type'));

			$('#order-medal-dialog').modal();
		}

		function onAjaxError(dialog, xhr) {
			$(dialog).find('.dialog-error').text(xhr.responseText);
		}

	</script>

}